.icon-container {
  width: 100px;
  height: 100px;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1bc5bd;
  border: 3px solid white;
  bottom: 4px;
  right: 4px;
  position: absolute;
}
