<section class="section section-lg">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="get-started-title text-white">Let's Get Started</h1>
        <div class="section-title-border margin-t-20 bg-white"></div>
        <p
          class="
            section-subtitle
            font-secondary
            text-white text-center
            padding-t-30
            landFont
          "
        >
          WELCOME TO DOCCERTS
        </p>
        <a
          [routerLink]="['/auth/login']"
          class="btn btn-bg-white waves-effect margin-t-20 mb-4"
          >Get Started <i class="mdi mdi-arrow-right" style="color: black"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="bg-pattern-effect">
    <img src="assets/media/bg/bg-pattern-light.png" alt="" />
  </div>
</section>
