.message {
  cursor: pointer;
}

.message:hover {
  background-color: #f3f6f9;
}
.inbox-message-name {
  color: #464e5f;
  font-weight: 500;
}
.inbox-message-subject {
  font-size: 1.08rem;
  font-weight: 600 !important;
  color: #464e5f;
  margin-right: 0.5rem !important;
}

.inbox-message-msg {
  color: #b5b5c3 !important;
  font-size: 13px !important;
  font-weight: 400;
  font-family: Poppins, Helvetica, sans-serif;
}
.inbox-message-time {
  color: #464e5f;
  font-size: 13px !important;
  font-weight: 600 !important;
  font-family: Poppins, Helvetica, sans-serif;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.col-2,
.col-3,
.col-7 {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
