<div>
  <form [formGroup]="organization">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-3">
          <app-select
            [label]="'ISSUER.ORGANIZATION.SELECTORGANIZATION' | translate"
            [placeholder]="'ISSUER.ORGANIZATION.SELECTORGANIZATION' | translate"
            [items]="ListeOrganizations"
            [values]="['name']"
            formControlName="organization"
          ></app-select>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <app-button
      label="  {{ 'ISSUER.ORGANIZATION.CLOSE' | translate }}"
      (buttonClick)="closePupUp()"
      backgroundColor="#ffffff"
      fontColor="#000000"
    >
    </app-button>
    <app-button
      color="primary"
      label="      {{ 'ISSUER.ORGANIZATION.SENDREQUEST' | translate }}"
      (buttonClick)="sendRequest()"
      [isDisabled]="organization.get('organization')!.invalid"
    >
    </app-button>
  </div>
</div>
