<!-- Body -->
<ng-container>
  <div class="card card-custom card-stretch">
    <div class="card-body">
      <div class="card-body pt-4 ScrollBar">
        <div class="timeline timeline-6 mt-3">
          <!--begin::Item-->
          <div
            class="timeline-item align-items-start"
            *ngFor="let item of userActivities"
          >
            <!--begin::Label-->
            <div
              class="
                timeline-label
                font-weight-bolder
                text-dark-75
                font-size-lg
              "
            >
              {{ item.timestamp }}
            </div>
            <!--end::Label-->

            <!--begin::Badge-->
            <div class="timeline-badge" [ngSwitch]="item.activityType">
              <i
                class="fa fa-genderless text-success icon-xl"
                *ngSwitchCase="0"
              ></i>
              <i
                class="fa fa-genderless text-primary icon-xl"
                *ngSwitchCase="1"
              ></i>
              <i
                class="fa fa-genderless text-danger icon-xl"
                *ngSwitchCase="2"
              ></i>
              <i
                class="fa fa-genderless text-secondary icon-xl"
                *ngSwitchDefault
              ></i>
            </div>
            <!--end::Badge-->

            <!--begin::Text-->
            <div
              class="
                font-weight-bolder font-size-lg
                timeline-content
                text-dark-75
                pl-3
              "
            >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
              numquam veritatis rem! Assumenda provident aliquam ullam sunt
              placeat esse modi corrupti, minima, voluptates quaerat asperiores!
              Eligendi accusantium velit dolor ratione?
            </div>
            <!--end::Text-->
          </div>
          <!--end::Item-->
        </div>
      </div>
    </div>
  </div>
</ng-container>
