<div
  class="modal-header p-md-5 d-flex align-items-center justify-content-between"
>
  <b class="modal-title">
    {{ 'ORGANIZATION.USERS.INVITE.TITLE' | translate }}
  </b>
  <app-button [ref]="'icon'" [icon]="'close'" (buttonClick)="Dismiss($event)">
  </app-button>
</div>

<div class="modal-body p-md-5">
  <div class="row">
    <div class="col-12 mt-4">
      <h5>{{ 'ORGANIZATION.USERS.INVITE.SEARcH' | translate }}</h5>
      <mat-form-field class="w-100 mt-4" appearance="outline">
        <mat-chip-list #chipList aria-label="Recipient selection">
          <mat-chip
            *ngFor="let user of _selectedUsers"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(user)"
          >
            {{ user.firstname + ' ' + user.lastname }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [disabled]="_selectedUsers.length > 0"
            [placeholder]="
              'ORGANIZATION.USERS.INVITE.searchplaceholder' | translate
            "
            #usersInput
            [formControl]="useCtr"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (keyup)="onKeyUp()"
          />

          <div
            [ngClass]="spinnerIsShow ? 'd-block' : 'd-none'"
            class="spinner-border"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let filteredUser of filtredUsers"
            [value]="filteredUser.id"
            [ngClass]="emptyList ? 'd-none' : 'd-block'"
          >
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <img
                  *ngIf="filteredUser.picture; else NoPic"
                  class="pic"
                  style="width: 40px; height: 40px"
                  src="{{ filteredUser.picture }}"
                  alt="photo"
                />
                <ng-template #NoPic>
                  <span
                    class="
                      no-pic
                      bg-light-success
                      text-success
                      font-weight-bold font-size-h6
                    "
                  >
                    {{
                      filteredUser.firstname.charAt(0).toUpperCase() +
                        '' +
                        filteredUser.lastname.charAt(0).toUpperCase()
                    }}
                  </span>
                </ng-template>
              </div>
              <div class="d-flex flex-column">
                <span
                  appHighlight
                  [searchedWord]="useCtr.value"
                  [content]="
                    filteredUser.firstname + ' ' + filteredUser.lastname
                  "
                  [classToApply]="'font-weight-bold'"
                >
                </span>
              </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span *ngIf="noData" class="text-warning">
        <b>{{ 'ORGANIZATION.USERS.INVITE.NODATA' | translate }}</b>
      </span>
    </div>
    <div class="col-12 mt-4">
      <h5>{{ 'ORGANIZATION.USERS.ADDUSER.SELECTGROUP' | translate }}</h5>
      <mat-form-field class="w-100 mt-4" appearance="outline">
        <mat-label
          >{{ 'ORGANIZATION.USERS.ADDUSER.SELECTGROUP' | translate }}
        </mat-label>
        <mat-select
          [formControl]="groupsCtl"
          (selectionChange)="groupSElected({ option: $event })"
          placeholder="Select a Group"
        >
          <mat-option
            *ngFor="let group of groups; let i = index"
            value="{{ group.id }}"
          >
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 mt-4" *ngIf="disableCategory">
      <h5>{{ 'ORGANIZATION.USERS.ADDUSER.SELECTCATS' | translate }}</h5>
      <form class="mt-4">
        <app-select
          [label]="'ORGANIZATION.USERS.ADDUSER.SELECTCATS' | translate"
          [placeholder]="'ORGANIZATION.USERS.ADDUSER.SELECTCATS' | translate"
          [itemsObservable]="categories$"
          [ref]="'Observable'"
          [formControl]="categoriesFC"
          [isMultiple]="true"
        ></app-select>
      </form>
    </div>
  </div>
</div>
<div
  class="modal-footer p-3 d-flex justify-content-center justify-content-md-end"
>
  <app-button
    label="{{ 'ORGANIZATION.CANCELBUTTON' | translate }}"
    [backgroundColor]="'#fff'"
    [fontColor]="'#000'"
    (buttonClick)="Dismiss($event)"
  >
  </app-button>
  <app-button
    [isDisabled]="!(_selectedUsers.length > 0)"
    [isLoading]="isLoading"
    label="{{ 'ORGANIZATION.SUBMITBUTTON' | translate }}"
    [color]="'primary'"
    [cssClasses]="['ml-2', 'px-5']"
    (buttonClick)="InviteUsers()"
  >
  </app-button>
</div>
