.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn-check:active + .btn.btn-outline-dashed.btn-outline-default,
.btn-check:checked + .btn.btn-outline-dashed.btn-outline-default,
.btn.btn-outline-dashed.btn-outline-default.active,
.btn.btn-outline-dashed.btn-outline-default.show,
.btn.btn-outline-dashed.btn-outline-default:active:not(.btn-active),
.btn.btn-outline-dashed.btn-outline-default:focus:not(.btn-active),
.btn.btn-outline-dashed.btn-outline-default:hover:not(.btn-active),
.show > .btn.btn-outline-dashed.btn-outline-default {
  color: #009ef7;
  border-color: #009ef7;
  background-color: #ecf8ff;
}
.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
  box-shadow: none !important;
}
.btn.btn-outline-dashed.btn-outline-default {
  border-width: 1px;
  border-style: dashed;
  color: #7e8299;
  border-color: #e4e6ef;
  background-color: rgba(245, 248, 250, 0.6);
}
.btn-check:active + .btn,
.btn-check:checked + .btn,
.btn.active,
.btn:active {
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}
.btn.btn-outline-dashed {
  border: 1px dashed #e4e6ef;
}
.p-7 {
  padding: 1.75rem !important;
}
.mb-10 {
  margin-bottom: 2.5rem !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #181c32;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.475rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bg-white {
  background-color: 255, 255, 255;
}
.text-start {
  text-align: left !important;
}
.fw-bold {
  font-weight: 500 !important;
}
.d-block {
  display: block !important;
}
.text-dark {
  color: #181c32 !important;
}
.fw-bolder {
  font-weight: 600 !important;
}
.text-gray-400 {
  color: #b5b5c3 !important;
}
.fw-bold {
  font-weight: 500 !important;
}
.fs-6 {
  font-size: 1.075rem !important;
}
.fv-plugins-message-container.invalid-feedback,
.fv-plugins-message-container.valid-feedback {
  display: block;
  font-weight: 400;
}
.btn .svg-icon {
  flex-shrink: 0;
  line-height: 0;
  margin-right: 0.5rem;
}
.svg-icon {
  line-height: 1;
}
.me-5 {
  margin-right: 1.25rem !important;
}
img,
svg {
  vertical-align: middle;
}
.svg-icon.svg-icon-3x svg {
  height: 3rem !important;
  width: 3rem !important;
}
.d-block {
  display: block !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.btn-outline-default:hover .svg-icon svg [fill]:not(.permanent):not(g) {
  transition: fill 0.3s ease;
  fill: #009ef7;
}

input[type='radio']:checked
  + label
  > .svg-icon
  svg
  [fill]:not(.permanent):not(g) {
  transition: fill 0.3s ease;
  fill: #009ef7;
}

.btn.btn-primary {
  color: #fff;
  border-color: #009ef7;
  background-color: #009ef7;
}
