.bg-white {
  background-color: #fff !important;
}
.d-flex {
  display: flex !important;
}
.flex-column-auto {
  flex: none;
}
.flex-column-fluid {
  flex: 1 0 auto;
}
.flex-root {
  flex: 1;
}
.flex-column-fluid {
  flex: 1 0 auto;
}
.bgi-position-y-bottom {
  background-position-y: bottom;
}
.bgi-position-x-center {
  background-position-x: center;
}
.bgi-no-repeat {
  background-repeat: no-repeat;
}
.bgi-size-contain {
  background-size: contain;
}
.bgi-attachment-fixed {
  background-attachment: fixed;
}
.text-center {
  text-align: center !important;
}
.p-10 {
  padding: 2.5rem !important;
}
.py-lg-20 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}
.mb-10 {
  margin-bottom: 2.5rem !important;
}
.pt-lg-20 {
  padding-top: 5rem !important;
}
.mb-5 {
  margin-bottom: 1.25rem !important;
}
.pt-lg-10 {
  padding-top: 2.5rem !important;
}
.fw-bolder {
  font-weight: 600 !important;
}
.fs-4x {
  font-size: 4rem !important;
}
.text-gray-700 {
  color: #5e6278 !important;
}
.fw-bold {
  font-weight: 500 !important;
}
.fs-3 {
  font-size: 1.35rem !important;
}
.text-gray-400 {
  color: #b5b5c3 !important;
}
.mb-15 {
  margin-bottom: 3.75rem !important;
}
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #181c32;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.475rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn {
  outline: 0 !important;
}

.btn-lg {
  padding: 0.825rem 1.75rem;
  font-size: 1.15rem;
  border-radius: 0.475rem;
}
.btn.btn-primary {
  color: #fff;
  border-color: #009ef7;
  background-color: #009ef7;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column-auto {
  flex: none;
}
.align-items-center {
  align-items: center !important;
}
.fs-6 {
  font-size: 1.075rem !important;
}
.text-muted {
  color: #a1a5b7 !important;
}
.text-hover-primary {
  transition: color 0.2s ease, background-color 0.2s ease;
}
.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}
