<div class="responsivStyle">
  <table
    id="#my-table"
    mat-table
    [dataSource]="displayedRows$"
    class="table table-head-custom table-vertical-center overflow-hidden"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'ORGANIZATION.USERS.view.USER' | translate }}
      </th>
      <td mat-cell *matCellDef="let user">
        <div class="d-flex align-items-center mt-3 mb-3">
          <div class="mr-3">
            <img
              *ngIf="user.picture; else NoPic"
              class="pic"
              style="width: 40px; height: 40px"
              src="{{ user.picture }}"
              alt="photo"
            />
            <ng-template #NoPic>
              <span
                class="
                  no-pic
                  bg-light-success
                  text-success
                  font-weight-bold font-size-h6
                "
              >
                {{
                  user.firstname.charAt(0).toUpperCase() +
                    '' +
                    user.lastname.charAt(0).toUpperCase()
                }}
              </span>
            </ng-template>
          </div>
          <div class="d-flex flex-column style-text style-cell">
            <span> {{ user.firstname + ' ' + user.lastname }}</span>
            <a
              class="
                text-muted
                font-weight-bold
                text-hover-primary
                cursor-pointer
                style-email style-cell
              "
            >
              {{ user.email }}</a
            >
          </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'ORGANIZATION.USERS.view.PHONE' | translate }}
      </th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.phone.placeHolder; else noData">{{
          user.phone.placeHolder
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let user">
        {{ user.role | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'ORGANIZATION.USERS.view.STATE' | translate }}
      </th>
      <td mat-cell *matCellDef="let user" style="text-align: center">
        <span
          class="badge bg-light-primary text-primary"
          *ngIf="getAccountState(user) === 'ACTIVATED'"
        >
          {{ 'ORGANIZATION.USERS.view.ACTIVE' | translate }}
        </span>
        <span
          class="badge bg-light-warning text-warning"
          *ngIf="getAccountState(user) === 'BLOCKED'"
        >
          {{ 'ORGANIZATION.USERS.view.BLOCKED' | translate }}
        </span>
        <span
          class="badge bg-light-info text-info"
          *ngIf="getAccountState(user) === 'PENDING'"
        >
          {{ 'ORGANIZATION.USERS.view.PENDING' | translate }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="Date of birth">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'ORGANIZATION.USERS.view.BIRTHDAY' | translate }}
      </th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.birthday; else noData">
          {{ user.birthday | date: 'dd/MM/yyyy' }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Occupation</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.occupation; else noData">{{
          user.occupation | capitalizeFirstLetter
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Actions
      </th>
      <td mat-cell *matCellDef="let user">
        <div class="text-center d-flex justify-content-center">
          <div>
            <a
              class="
                btn btn-icon btn-light btn-hover-primary btn-sm
                mx-3
                edlitIcon
              "
              [matTooltip]="'ORGANIZATION.USERS.view.EDIT' | translate"
              (click)="EditUser(user)"
            >
              <span
                [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                class="svg-icon svg-icon-md svg-icon-primary"
              ></span>
            </a>
          </div>
          <div>
            <a
              class="
                btn btn-icon btn-light btn-hover-danger btn-sm
                mx-3
                edlitIcon
              "
              [matTooltip]="'ORGANIZATION.USERS.view.DELETE' | translate"
              (click)="deleteUser(user)"
            >
              <i class="mdi mdi-account-cancel-outline mdDelete"></i>
            </a>
          </div>
          <div>
            <a
              *ngIf="getAccountState(user) === 'BLOCKED'"
              class="
                btn btn-icon btn-light btn-hover-success btn-sm
                mx-3
                edlitIcon
              "
              (click)="ChangeState(user, getAccountState(user))"
              [matTooltip]="'ORGANIZATION.USERS.view.ACCTIVATE' | translate"
            >
              <i class="mdi mdi-account-check md1"></i>
            </a>
            <a
              *ngIf="getAccountState(user) === 'ACTIVATED'"
              class="
                btn btn-icon btn-light btn-hover-warning btn-sm
                mx-3
                edlitIcon
              "
              [matTooltip]="'ORGANIZATION.USERS.view.DEACTIVATE' | translate"
              (click)="ChangeState(user, getAccountState(user))"
            >
              <i class="mdi mdi-account-remove md2"></i>
            </a>
            <a
              *ngIf="getAccountState(user) === 'PENDING'"
              class="btn btn-icon btn-light btn-sm mx-3 edlitIcon"
              [class.disabled]="
                getAccountState(user) === 'PENDING' ? true : null
              "
            >
              <i class="mdi mdi-account-off-outline md5"></i>
            </a>
          </div>
          <div>
            <a
              class="
                btn btn-icon btn-light btn-hover-secondary btn-sm
                mx-3
                edlitIcon
              "
              [class.disabled]="
                getAccountState(user) === 'PENDING' ? true : null
              "
              [matTooltipDisabled]="getAccountState(user) === 'PENDING'"
              [matTooltip]="'ORGANIZATION.USERS.view.AFFECT' | translate"
              (click)="Impersonate(user.id)"
            >
              <i class="mdi mdi-account md3"></i>
            </a>
          </div>

          <div>
            <div>
              <a
                class="
                  btn btn-icon btn-light btn-hover-secondary btn-sm
                  mx-3
                  edlitIcon
                "
                [class.disabled]="checkIfAffectDisabled(user) ? true : null"
                [matTooltipDisabled]="checkIfAffectDisabled(user)"
                matTooltip="affect User to a group"
                (click)="affectToGroup(user)"
              >
                <i class="mdi mdi-account-multiple-plus md4"></i>
              </a>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <ng-template #noData>
    <span class="text-muted">none</span>
  </ng-template>
</div>
