section {
  display: block;
}

p {
  margin-top: 0;
  //margin-bottom: 3rem !important;
  font-family: Poppins, Helvetica, 'sans-serif' !important;
  color: #b5b5c3 !important;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border: 2px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: all 0.2s;
  background-color: #3699ff;
  color: white;
}
.btn:hover {
  background-color: #5bc9f5;
}
