<section class="section bg-light" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">How It Works</h1>
        <div class="section-title-border margin-t-20"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center process-left-icon-1">
        <i class="pe-7s-angle-right"></i>
      </div>
      <div class="col-lg-6 text-center process-left-icon-2">
        <i class="pe-7s-angle-right"></i>
      </div>
    </div>
    <div class="row margin-t-50">
      <div class="col-lg-4 plan-line">
        <div class="text-center process-box">
          <i class="pe-7s-news-paper text-custom process-box-i"></i>
          <h4 class="padding-t-15">Category Creation</h4>
          <p class="text-muted landFont">
            The institution can have several workflows where each workflow
            correspond to a specific Document .
          </p>
        </div>
      </div>

      <div class="col-lg-4 plan-line">
        <div class="text-center process-box">
          <i class="pe-7s-pen text-custom process-box-i"></i>
          <h4 class="padding-t-15">Issuance</h4>
          <p class="text-muted landFont">
            The certificates are issued both on the Smart Certification system
            and the Blockchain.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center process-box">
          <i class="pe-7s-check text-custom process-box-i"></i>
          <h4 class="padding-t-15">Verification</h4>
          <p class="text-muted landFont">
            Once the certificates are issued, they can be verified on the
            Blockchain in four steps.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
