<div
  class="modal-header p-md-5 d-flex align-items-center justify-content-between"
>
  <h6 class="modal-title" style="padding: 0 0.5em 0 0.5em">
    Export TO <b>{{ exportTo }}</b>
  </h6>
  <app-button
    [ref]="'icon'"
    [icon]="'close'"
    (buttonClick)="Dismiss($event)"
    style="padding: 0 0.5em 0 0.5em"
  >
  </app-button>
</div>
<div class="modal-body p-md-5 ScrollBar">
  <div class="row" style="justify-content: center">
    <div class="col-10">
      <form [formGroup]="headersForm">
        <div mat-dialog-content style="justify-content: center">
          <div *ngIf="filterBy">
            <h5 class="mt-2">
              Filter Data By : <b>{{ filterBy }}</b>
            </h5>
            <app-select
              [label]="'ISSUER.CERTIFICATE.VIEW.FILTER' | translate"
              [placeholder]="'ISSUER.CERTIFICATE.VIEW.FILTER' | translate"
              [items]="filterValues"
              formControlName="filter"
              class="mt-3"
            ></app-select>
          </div>
          <h5 class="mt-2">
            Choose the columns to export to <b>{{ exportTo }}</b>
          </h5>
          <mat-selection-list color="primary" class="mt-2">
            <mat-list-option
              #matOption
              (click)="selectAll(matOption)"
              checkboxPosition="after"
            >
              <b>Select All</b>
            </mat-list-option>
          </mat-selection-list>
          <hr />
          <mat-selection-list
            color="primary"
            #AllColumns
            required
            formControlName="selected"
            multiple
          >
            <mat-list-option
              *ngFor="let column of headers; let i = index"
              value="{{ column }}"
            >
              {{ displayedHeaders[i] || column }}
            </mat-list-option>
          </mat-selection-list>
        </div>

        <div mat-dialog-actions style="justify-content: center">
          <button mat-button (click)="Dismiss($event)">Cancel</button>
          <button
            mat-raised-button
            color="primary"
            class="BTN"
            (click)="Export()"
            [disabled]="headersForm.controls.selected.hasError('required')"
          >
            Export to {{ exportTo }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
