::ng-deep input.mat-chip-input {
  height: 32px;
}
%picPlaceholder {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
}
.no-pic {
  @extend %picPlaceholder;
}
.pic {
  @extend %picPlaceholder;
}
