<div
  class="card card-custom gutter-b"
  [ngClass]="groups.length > 0 ? 'd-block' : 'd-none'"
>
  <div class="card">
    <div class="card-body p-lg-15">
      <div class="row">
        <!-- request modal -->
        <div class="col-12 col-sm-3 col-md-2">
          <h3>{{ 'ORGANIZATION.GROUPS.LISTING.GROUPS' | translate }}</h3>
        </div>
        <div
          class="col-12 col-sm-3 col-md-2"
          style="margin-left: auto !important"
        >
          <app-button
            [label]="'ORGANIZATION.GROUPS.LISTING.CREATE' | translate"
            [color]="'primary'"
            (click)="OpenDialogAdd()"
          >
          </app-button>
        </div>
      </div>
      <!-- Filer & Search Bloc -->
      <div class="row mt-2">
        <div class="col-12">
          <form>
            <div class="row">
              <!-- Search -->
              <div class="col-12 col-sm-4 col-md-3 p-0 pl-sm-1 mr-5">
                <app-input
                  [label]="'ORGANIZATION.GROUPS.LISTING.SEARCH' | translate"
                  [placeholder]="
                    'ORGANIZATION.GROUPS.LISTING.SEARCH' | translate
                  "
                  [ref]="'suffix'"
                  [icon]="'search'"
                  [formControl]="searchControl"
                  (typingStopped)="ApplySearch($event)"
                >
                </app-input>
              </div>
              <div class="col-12 col-sm-4 col-md-3 p-0 pl-sm-1 ml-5">
                <!-- Filter -->
                <app-select
                  [label]="'ORGANIZATION.GROUPS.LISTING.FILTER' | translate"
                  [placeholder]="
                    'ORGANIZATION.GROUPS.LISTING.FILTER' | translate
                  "
                  [items]="FilterOptions"
                  (optionSelected)="filterGroups($event)"
                ></app-select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <app-view-groups
        [orgCredit]="orgCredit"
        [Groups$]="Groups$"
        (DataSort)="Sort({ sort: $event })"
        (deleteEvent)="deleteGroup($event)"
        (editEvent)="OpenEditModal($event)"
        (SendCreditEvent)="openSendCreditModal($event)"
      ></app-view-groups>
      <app-pagination
        [length]="length"
        [pageSizeOptions]="[5, 10, 15, 20]"
        [pageSize]="nbrElementinPage"
        (pageEvent)="paginationCategory({ pageEvent: $event })"
      ></app-pagination>
    </div>
  </div>
</div>
<!-- If there isn't data -->
<div class="row" [ngClass]="groups.length === 0 ? 'd-block' : 'd-none'">
  <div class="col-12">
    <app-empty-list
      [Title]="'ORGANIZATION.GROUPS.EMPTYPAGE.TITLE' | translate"
      [Description]="'ORGANIZATION.GROUPS.EMPTYPAGE.DESC' | translate"
      [LabelButton]="'ORGANIZATION.GROUPS.LISTING.CREATE' | translate"
      [Image]="'../../../../../assets/media/svg/misc/groups.svg'"
      (ButtonClickEvent)="OpenDialogAdd()"
    ></app-empty-list>
  </div>
</div>

<!-- Modal Create Group -->
<ng-template #create>
  <app-add-edit-group
    [title]="'Create Group'"
    [issuers$]="issuers$"
    [recipients$]="recipients$"
    [signers$]="signers$"
    [_AddEditForm]="fm"
    (dismissDialog)="Dismiss($event)"
    (AddGroupEvent)="AddGroup($event)"
    [Updating]="false"
  ></app-add-edit-group>
</ng-template>

<!-- Modal edit Group -->
<ng-template #edit>
  <app-add-edit-group
    [title]="'Create Group'"
    [issuers$]="issuers$"
    [recipients$]="recipients$"
    [signers$]="signers$"
    [_AddEditForm]="fm"
    (dismissDialog)="Dismiss($event)"
    (editGroupEvent)="EditGroup($event)"
    [Updating]="true"
    [group]="updateGroup"
  ></app-add-edit-group>
</ng-template>

<!-- Modal Send Credit -->
<ng-template #sendCredit>
  <app-add-edit-group
    [orgCredit]="orgCredit"
    [sendingCredit]="true"
    [group]="creditGroup"
    (dismissDialog)="Dismiss($event)"
    (sendCreditEvent)="sendCreditToGroup($event)"
    [_creditForm]="creditForm"
  ></app-add-edit-group>
</ng-template>
