<ng-container *ngIf="user">
  <div class="card card-custom mb-5 pb-0" [formGroup]="formGroup">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div
          class="
            progress-bar progress-bar-striped progress-bar-animated
            bg-primary
          "
          role="progressbar"
          style="width: 100%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">
          {{ 'USER_PROFILE.PERSONAL_INFO.HEADER.title' | translate }}
        </h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">
          {{ 'USER_PROFILE.PERSONAL_INFO.HEADER.subTitle' | translate }}
        </span>
      </div>
      <div class="card-toolbar">
        <app-button
          [isLoading]="btnIsLoading"
          [label]="
            'USER_PROFILE.PERSONAL_INFO.HEADER.btnSaveChange' | translate
          "
          [isDisabled]="
            (formGroup.invalid || !formGroup.dirty) && !pictureChanged
          "
          [ngClass]="
            (formGroup.invalid || !formGroup.dirty) && !pictureChanged
              ? 'cursor-default'
              : 'cursor-pointer'
          "
          [cssClasses]="['mr-2']"
          (buttonClick)="btnIsLoading = true; save($event)"
        >
        </app-button>
        <app-button
          [label]="'USER_PROFILE.PERSONAL_INFO.HEADER.btnCancel' | translate"
          [cssClasses]="['ml-2']"
          [backgroundColor]="'#f3f6f9'"
          [fontColor]="'#7e8299'"
          (buttonClick)="cancel()"
        >
        </app-button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <!--begin::Body-->
      <div class="card-body">
        <div
          class="row"
          *ngIf="user.role === 'ISSUER' || user.role === 'SIGNER'"
        >
          <div class="col-12">
            <a
              (click)="fileSignature.click()"
              class="btn btn-light-primary btn-sm mr-3"
            >
              <i class="flaticon-upload"></i
              >{{
                'USER_PROFILE.PERSONAL_INFO.BODY.btnUploadSignatur' | translate
              }}
            </a>
            <input
              #fileSignature
              class="d-none"
              type="file"
              name="profile_avatar"
              accept=".png, .jpg, .jpeg"
              (change)="uploadSignature($event)"
            />
            <span class="text-success">
              {{ msg }}
            </span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 d-flex justify-content-center">
            <div
              class="image-input image-input-outline"
              [class.image-input-empty]="user.picture === '' || !user.picture"
              [style.backgroundImage]="'url(./assets/media/users/blank.png)'"
            >
              <div class="image-input-wrapperr.picture">
                <img
                  [src]="url"
                  class="img"
                  style="border-radius: 50%; object-fit: cover"
                />
              </div>

              <label
                style="top: 0px; right: 20px"
                class="
                  btn
                  btn-xs
                  btn-icon
                  btn-circle
                  btn-white
                  btn-hover-text-primary
                  btn-shadow
                "
                data-action="change"
                data-toggle="tooltip"
                title=""
                data-original-title="Change avatar"
              >
                <i class="fa fa-pen icon-sm text-muted"></i>

                <input
                  type="file"
                  name="profile_avatar"
                  accept=".png, .jpg, .jpeg"
                  (change)="onselectfile($event)"
                />
              </label>

              <span
                style="top: 0; margin-left: 15px"
                *ngIf="user.picture !== '' || user.picture"
                class="
                  btn
                  btn-xs
                  btn-icon
                  btn-circle
                  btn-white
                  btn-hover-text-primary
                  btn-shadow
                "
                (click)="deletePic()"
                data-action="remove"
                data-toggle="tooltip"
                title=""
                data-original-title="Remove avatar"
              >
                <i class="ki ki-bold-close icon-xs text-muted"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 col-md-6">
            <app-input
              [isRequired]="true"
              [label]="'USER_PROFILE.PERSONAL_INFO.BODY.firstName' | translate"
              [placeholder]="
                'USER_PROFILE.PERSONAL_INFO.BODY.firstName' | translate
              "
              [formControl]="FirstName"
              [ref]="'suffix'"
              [icon]="
                FirstName.touched
                  ? FirstName.invalid
                    ? 'error'
                    : 'check_circle'
                  : 'account_circle'
              "
              [iconColor]="
                FirstName.touched
                  ? FirstName.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
          <div class="col-12 col-md-6">
            <app-input
              [isRequired]="true"
              [label]="'USER_PROFILE.PERSONAL_INFO.BODY.lastName' | translate"
              [placeholder]="
                'USER_PROFILE.PERSONAL_INFO.BODY.lastName' | translate
              "
              [formControl]="LastName"
              [ref]="'suffix'"
              [icon]="
                LastName.touched
                  ? LastName.invalid
                    ? 'error'
                    : 'check_circle'
                  : 'account_circle'
              "
              [iconColor]="
                LastName.touched
                  ? LastName.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <app-datepicker
              [label]="'USER_PROFILE.PERSONAL_INFO.BODY.birthday' | translate"
              [placeholder]="
                'USER_PROFILE.PERSONAL_INFO.BODY.birthday' | translate
              "
              [formControl]="Birthday"
              [isRequired]="true"
              [maxDate]="maxDate"
              [minDate]="minDate"
              [icon]="
                Birthday.touched
                  ? Birthday.invalid
                    ? 'error'
                    : 'check_circle'
                  : 'date_range'
              "
              [iconColor]="
                Birthday.touched
                  ? Birthday.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-datepicker>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h5 class="font-weight-bold">
              {{ 'USER_PROFILE.PERSONAL_INFO.BODY.contactInfo' | translate }}
            </h5>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 col-md-6">
            <app-input
              [label]="'USER_PROFILE.PERSONAL_INFO.BODY.email' | translate"
              [placeholder]="
                'USER_PROFILE.PERSONAL_INFO.BODY.email' | translate
              "
              [type]="'email'"
              [formControl]="Email"
              [ref]="'suffix'"
              [showSpinner]="showSpinnerEmail"
              [icon]="
                !showSpinnerEmail
                  ? (Email.touched && Phone.value === '') ||
                    (Email.touched && Phone.value !== '' && Email.value !== '')
                    ? Email.invalid
                      ? 'error'
                      : 'check_circle'
                    : 'email'
                  : ''
              "
              [iconColor]="
                (Email.touched && Phone.value === '') ||
                (Email.touched && Phone.value !== '' && Email.value !== '')
                  ? Email.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
          <div class="col-12 col-md-6">
            <app-input
              [label]="'USER_PROFILE.PERSONAL_INFO.BODY.phone' | translate"
              [ref]="'phone'"
              (countryChanged)="CountryChanged($event)"
              [formControl]="Phone"
              [showSpinner]="showSpinnerPhone"
              [icon]="
                !showSpinnerPhone
                  ? Phone.touched && Phone.value !== ''
                    ? Phone.invalid
                      ? 'error'
                      : 'check_circle'
                    : 'phone'
                  : ''
              "
              [iconColor]="
                Phone.touched && Phone.value !== ''
                  ? Phone.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
        </div>
      </div>

      <!--end::Body-->
    </div>
    <!--end::Form-->
  </div>
</ng-container>
