<div
  class="modal-header p-md-5 d-flex align-items-center justify-content-between"
>
  <b class="modal-title">
    {{ title | translate }}
  </b>
  <app-button [ref]="'icon'" [icon]="'close'" (buttonClick)="Dismiss($event)">
  </app-button>
</div>

<div class="modal-body p-md-5">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="recipientFG">
        <div class="row">
          <div class="col-md-6" *ngIf="action === 'add'">
            <app-input
              [isRequired]="true"
              [label]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.Username'
                  | translate
              "
              [placeholder]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.Username'
                  | translate
              "
              [type]="'text'"
              [formControl]="Username"
              [ref]="'suffix'"
              [showSpinner]="showSpinnerUsername"
              [icon]="
                !showSpinnerUsername
                  ? Username.touched
                    ? Username.invalid
                      ? 'error'
                      : 'check_circle'
                    : 'account_box'
                  : ''
              "
              [iconColor]="
                Username.touched
                  ? Username.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
          <div class="col-md-6">
            <app-input
              [label]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.Email' | translate
              "
              [placeholder]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.Email' | translate
              "
              [type]="'email'"
              [formControl]="Email"
              [ref]="'suffix'"
              [showSpinner]="showSpinnerEmail"
              [icon]="
                !showSpinnerEmail
                  ? (Email.touched && Phone.value === '') ||
                    (Email.touched && Phone.value !== '' && Email.value !== '')
                    ? Email.invalid
                      ? 'error'
                      : 'check_circle'
                    : 'email'
                  : ''
              "
              [iconColor]="
                (Email.touched && Phone.value === '') ||
                (Email.touched && Phone.value !== '' && Email.value !== '')
                  ? Email.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
          <div
            class="col-12 col-md-6"
            [ngClass]="action === 'edit' ? 'd-block' : 'd-none'"
          >
            <app-input
              [label]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.Phone' | translate
              "
              [ref]="'phone'"
              (countryChanged)="CountryChanged($event)"
              [formControl]="Phone"
              [showSpinner]="showSpinnerPhone"
              [icon]="
                !showSpinnerPhone
                  ? Phone.touched && Phone.value !== ''
                    ? Phone.invalid
                      ? 'error'
                      : 'check_circle'
                    : 'phone'
                  : ''
              "
              [iconColor]="
                Phone.touched && Phone.value !== ''
                  ? Phone.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-input
              [isRequired]="true"
              [label]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.FirstName'
                  | translate
              "
              [placeholder]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.FirstName'
                  | translate
              "
              [formControl]="FirstName"
              [ref]="'suffix'"
              [icon]="
                FirstName.touched
                  ? FirstName.invalid
                    ? 'error'
                    : 'check_circle'
                  : 'account_circle'
              "
              [iconColor]="
                FirstName.touched
                  ? FirstName.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
          <div class="col-12 col-md-6">
            <app-input
              [isRequired]="true"
              [label]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.LastName'
                  | translate
              "
              [placeholder]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.LastName'
                  | translate
              "
              [formControl]="LastName"
              [ref]="'suffix'"
              [icon]="
                LastName.touched
                  ? LastName.invalid
                    ? 'error'
                    : 'check_circle'
                  : 'account_circle'
              "
              [iconColor]="
                LastName.touched
                  ? LastName.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
        </div>

        <div class="row">
          <div
            class="col-12 col-md-6"
            [ngClass]="action === 'edit' ? 'd-none' : 'd-block'"
          >
            <app-input
              [label]="
                'RECIPIENTORGANIZATION.BODY.AddEditRecipient.Phone' | translate
              "
              [ref]="'phone'"
              (countryChanged)="CountryChanged($event)"
              [formControl]="Phone"
              [showSpinner]="showSpinnerPhone"
              [icon]="
                !showSpinnerPhone
                  ? Phone.touched && Phone.value !== ''
                    ? Phone.invalid
                      ? 'error'
                      : 'check_circle'
                    : 'phone'
                  : ''
              "
              [iconColor]="
                Phone.touched && Phone.value !== ''
                  ? Phone.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-input>
          </div>
          <div class="col-12 col-md-6">
            <app-datepicker
              [label]="'Date of birth'"
              [placeholder]="'Date of birth'"
              [formControl]="Birthday"
              [isRequired]="true"
              [maxDate]="maxDate"
              [minDate]="minDate"
              [icon]="
                Birthday.touched
                  ? Birthday.invalid
                    ? 'error'
                    : 'check_circle'
                  : 'date_range'
              "
              [iconColor]="
                Birthday.touched
                  ? Birthday.invalid
                    ? 'text-danger'
                    : 'text-success'
                  : undefined
              "
            >
            </app-datepicker>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal-footer p-3 d-flex justify-content-center justify-content-md-end"
>
  <app-button
    [label]="
      'RECIPIENTORGANIZATION.BODY.AddEditRecipient.CancelButton' | translate
    "
    [backgroundColor]="'#fff'"
    [fontColor]="'#000'"
    (buttonClick)="Dismiss($event)"
  >
  </app-button>
  <app-button
    [isDisabled]="recipientFG.invalid || recipientFG.pristine"
    [label]="
      'RECIPIENTORGANIZATION.BODY.AddEditRecipient.ConfirmButton' | translate
    "
    [color]="'primary'"
    [cssClasses]="['px-5']"
    [isLoading]="isLoading"
    (buttonClick)="Submit($event)"
  >
  </app-button>
</div>
