<section class="section section-lg bg-web-desc">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-white">DocCerts</h2>
        <p class="padding-t-15 home-desc2 landFont">
          <i class="flaticon-safe-shield-protection"></i>&nbsp;&nbsp;Doccerts is
          mainly based on the blockchain technologie due to the
          <strong>high security</strong> wich is our major concern and top
          priority.
        </p>

        <p class="padding-t-15 home-desc2 landFont">
          <i class="flaticon2-checking"></i>&nbsp;&nbsp;DocCerts is a platform
          that follows a process to manage certificates from
          <strong>creation</strong>, <strong>signature</strong> to
          <strong>issuance</strong> and <strong>verification</strong>.
        </p>

        <p class="padding-t-15 home-desc2 landFont">
          <i class="fas fa-project-diagram"></i>&nbsp;&nbsp;DocCerts fully
          supports <strong>social media sharing</strong> and
          <strong>third party verification</strong> as it is a way to interact
          with companies and institutions.
        </p>
      </div>
    </div>
  </div>
  <div class="bg-pattern-effect">
    <img src="assets/media/bg/bg-pattern.png" alt="" />
  </div>
</section>
