.style-text {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: color 0.3s ease;
  color: #595d6e;
}
.style-email {
  margin-top: 3px;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 400;
  color: #74788d;
}
.style-cell {
  font-size: 13px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-accent.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #ff4081 !important; // customize your color here
  box-shadow: none !important;
}
::ng-deep .pu .mat-checkbox-frame {
  border-color: #3699ff;
}

::ng-deep .pr .mat-checkbox-frame {
  border-color: #ff4081;
}
.no-credit-msg {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
%picPlaceholder {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
}
.no-pic {
  @extend %picPlaceholder;
}
.pic {
  @extend %picPlaceholder;
}
