::ng-deep .card-header {
  border-bottom-color: white !important;
}

::ng-deep .mat-ripple-element {
  background-color: rgba(186, 114, 228, 0.54);
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: rgba(186, 114, 228, 0.54);
}

::ng-deep .toggle-thumb {
  background-color: rgba(186, 114, 228, 0.54);
}

::ng-deep .mat-slide-toggle {
  padding-top: 20px;
}

::ng-deep .mat-slide-toggle-label {
  margin-bottom: 20px !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(186, 114, 228, 0.54);
}

::ng-deep .mdi-table-large:before {
  font-size: 4em !important;
}

.fa-floppy-o:before {
  font-size: 30px !important;
}

::ng-deep .mat-form-field-flex {
  margin-top: auto !important;
}

.container {
  width: 100%;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  padding-left: 19px;
}

::ng-deep .fa-chevron-right {
  top: 2px !important;
  font-size: 10px !important;
}

::ng-deep .gjs-block.fa {
  margin: 10px 2.5% 5px;
  padding-top: 25px;
}

::ng-deep .gjs-layer-name {
  margin: 0px 0px 0px 10px !important;
  padding-left: 10px;
}
::ng-deep .fa {
  font-size: large !important;
  margin: 0%;
}

::ng-deep .fas {
  font-size: large !important;
  margin: 0%;
}

::ng-deep .far {
  font-size: large !important;
  margin: 0%;
}

::ng-deep .gjs-radio-item-label {
  padding: 3px;
  margin: 0px;
}

::ng-deep .gjs-sm-properties {
  padding: 10px 0px;
}

::ng-deep .gjs-sm-sector .gjs-sm-property {
  padding: 0px 0px 0px 3px;
}

@media (max-width: 1300px) {
  ::ng-deep .mat-form-field-infix {
    width: 100px !important;
  }

  ::ng-deep .gjs-block {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  ::ng-deep .gjs-block {
    width: 100%;
  }
}

@media (max-width: 900px) {
  ::ng-deep .gjs-radio-item-label {
    padding: 0px;
    font-size: 7px;
  }

  ::ng-deep .gjs-block {
    width: 100%;
  }

  ::ng-deep .col {
    padding: 0px 7px;
  }

  ::ng-deep .gjs-sm-title {
    padding: 9px 10px 9px 10px !important;
  }

  ::ng-deep .container-fluid {
    padding: 0%;
  }

  ::ng-deep .container {
    padding: 0px 5px 0px 5px !important;
    margin: 0px 5px 0px 5px !important;
  }

  ::ng-deep .gjs-pn-btn {
    min-width: 20px !important;
  }

  ::ng-deep .gjs-pn-views-container {
    width: 25% !important;
  }

  ::ng-deep .gjs-pn-commands {
    width: 80% !important;
  }

  ::ng-deep .gjs-pn-options {
    right: 25% !important;
    width: 50% !important;
  }
  ::ng-deep .gjs-pn-views {
    right: 0%;
    width: 25%;
  }

  ::ng-deep .gjs-sm-properties {
    padding: 0px 0px !important;
  }

  ::ng-deep .gjs-layer-vis {
    padding: 0px 0px 0px 3px !important;
  }
  ::ng-deep .gjs-layer-title {
    padding: 3px 3px 5px 30px !important;
  }

  ::ng-deep .gjs-layer-name {
    margin: 0px 0px 0px 10px !important;
  }
  ::ng-deep .gjs-layer-count {
    margin-left: 8px !important;
    padding-left: 8px !important;
  }

  ::ng-deep .gjs-layer-caret {
    top: 2px !important;
    font-size: 10px !important;
  }

  ::ng-deep .sp-light {
    position: fixed !important;
    color: aqua !important;
  }

  ::ng-deep .gjs-layer-move {
    padding: 7px 5px 7px 5px !important;
    font-size: 5px !important;
  }

  ::ng-deep .gjs-selected {
    width: 40% !important;
  }
  ::ng-deep .gjs-frame {
    width: auto !important;
    margin: 0px !important;
  }
}
.example-full-width {
  width: 100%;
  font-size: 15px;
  font-weight: 450;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.myform-group {
  border: solid 1px #e4e6ef !important;
  border-radius: 6px !important;
  margin: 10px;
  height: 95px !important;
}
.myform-group > label {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: -10px;
  left: 20px;
  background-color: white;
}

::ng-deep .Box {
  margin-left: 20px !important;
  padding-right: 20px !important;
  height: 75px !important;
  width: 93% !important;
  position: absolute;
  padding-top: 13px;
}
