<div
  class="modal-header p-md-5 d-flex align-items-center justify-content-between"
>
  <b class="modal-title"
    >{{ 'ISSUER.RECIPIENT.BODY.RecipientRequests.Title' | translate }}
  </b>
  <app-button [ref]="'icon'" [icon]="'close'" (buttonClick)="Dismiss($event)">
  </app-button>
</div>
<div class="modal-body p-md-5">
  <div class="row">
    <div class="col-12">
      <!-- Hidden Bloc to Delete Checked Recipients -->
      <div class="row">
        <div
          class="col-12 col-md-10 offset-md-1"
          [@AnimationHiddenBloc]="isShow ? 'start' : 'end'"
        >
          <div
            class="
              hidden-bolc
              border
              rounded
              shadow-sm
              p-2
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <div>
              <span>{{
                numRowsSelected +
                  ' ' +
                  (numRowsSelected > 1
                    ? ('ISSUER.RECIPIENT.BODY.RecipientRequests.RowsSelected'
                      | translate)
                    : ('ISSUER.RECIPIENT.BODY.RecipientRequests.RowSelected'
                      | translate))
              }}</span>
            </div>
            <div class="d-flex">
              <app-button
                [label]="'Accept'"
                [backgroundColor]="'#1BC5BD'"
                [fontColor]="'#fff'"
                [isDisabled]="!btnDeleteSelectedDisabled"
                class="mr-1"
              >
              </app-button>
              <app-button
                [label]="'Refuse'"
                [backgroundColor]="'#f64e60'"
                [fontColor]="'#fff'"
                [isDisabled]="!btnDeleteSelectedDisabled"
                class="ml-1"
              >
              </app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DataTable -->
  <div class="row">
    <div class="col-12">
      <table
        mat-table
        [dataSource]="recipientRequestsDataSource"
        class="mat-elevation-z0"
        style="width: 100%"
      >
        <!-- Select multiple -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              [disabled]="
                recipientRequestsDataSource.filteredData.length === 0
                  ? true
                  : false
              "
              (change)="$event ? AllChecked() : null"
              [checked]="selection.hasValue() && IsAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let recipient">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="RecipientChecked(recipient)"
              [checked]="selection.isSelected(recipient)"
              [aria-label]="CheckboxLabel(recipient)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Recipient ID -->
        <ng-container matColumnDef="recipientID">
          <th mat-header-cell *matHeaderCellDef>Recipient Id</th>
          <td
            mat-cell
            *matCellDef="let recipient"
            class="style-text style-cell"
          >
            {{ recipient.id }}
          </td>
        </ng-container>

        <!-- Recipient First Name & Last Name & Email -->
        <ng-container matColumnDef="recipient">
          <th mat-header-cell *matHeaderCellDef>Recipient</th>
          <td mat-cell *matCellDef="let recipient">
            <div class="d-flex align-items-center">
              <div class="mr-3">
                <img
                  *ngIf="recipient?.picture; else NoPic"
                  class="pic"
                  style="width: 40px; height: 40px"
                  src="{{ recipient?.picture }}"
                  alt="photo"
                />
                <ng-template #NoPic>
                  <span
                    class="
                      no-pic
                      bg-light-success
                      text-success
                      font-weight-bold font-size-h6
                    "
                  >
                    {{
                      recipient?.firstname?.charAt(0)?.toUpperCase() +
                        '' +
                        recipient?.lastname?.charAt(0)?.toUpperCase()
                    }}
                  </span>
                </ng-template>
              </div>
              <div class="d-flex flex-column style-text style-cell">
                <span>
                  {{ recipient?.firstname + ' ' + recipient?.lastname }}</span
                >
                <a
                  class="
                    text-muted
                    font-weight-bold
                    text-hover-primary
                    cursor-pointer
                    style-email style-cell
                  "
                >
                  {{ recipient?.email | capitalizeFirstLetter }}</a
                >
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Phone -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'ISSUER.RECIPIENT.BODY.RecipientRequests.Phone' | translate }}
          </th>
          <td
            mat-cell
            *matCellDef="let recipient"
            class="style-text style-cell"
          >
            <span *ngIf="recipient.phone; else noData">{{
              recipient.phone
            }}</span>
          </td>
        </ng-container>

        <!-- Occupation -->
        <ng-container matColumnDef="occupation">
          <th mat-header-cell *matHeaderCellDef>Occupation</th>
          <td
            mat-cell
            *matCellDef="let recipient"
            class="style-text style-cell"
          >
            <span *ngIf="recipient.occupation; else noData">
              {{ recipient?.occupation | capitalizeFirstLetter }}</span
            >
          </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td
            mat-cell
            *matCellDef="let recipient"
            class="style-text style-cell"
          >
            {{ recipient.type | capitalizeFirstLetter }}
          </td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let recipient">
            <div class="d-flex justify-content-center">
              <div>
                <a
                  class="btn btn-icon btn-light btn-hover-success btn-sm mx-3"
                  [matMenuTriggerFor]="menu"
                >
                  <span
                    [inlineSVG]="
                      './assets/media/svg/icons/Code/Done-circle.svg'
                    "
                    class="svg-icon svg-icon-md svg-icon-success"
                  ></span>
                </a>
                <mat-menu
                  #menu="matMenu"
                  class="bg-light position-relative p-0"
                >
                  <ul>
                    <li
                      *ngFor="
                        let cat of recipient.categoryRequests ??
                          recipient.requests
                      "
                    >
                      <div
                        class="
                          d-flex
                          align-items-center
                          position-absolute
                          w-100
                          p-2
                          parent
                        "
                        (click)="$event.stopPropagation()"
                      >
                        <div>
                          <mat-checkbox
                            id="{{ cat?.category.id ?? cat?.id }}"
                            [checked]="checkedList.indexOf(check.id) >= 0"
                            #check
                            (change)="CategoryChecked(check.id, check.checked)"
                          ></mat-checkbox>
                        </div>
                        <div
                          class="w-50 style-text style-cell ml-2"
                          style="margin-top: -5px"
                        >
                          {{
                            cat?.category.name ?? cat?.category
                              | capitalizeFirstLetter
                          }}
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-end w-100 parent">
                        <app-button
                          [label]="'Accept'"
                          [cssClasses]="['mr-1']"
                          (buttonClick)="AcceptRecipient(recipient)"
                        ></app-button>
                      </div>
                    </li>
                  </ul>
                </mat-menu>
              </div>
              <div>
                <a
                  class="btn btn-icon btn-light btn-hover-danger btn-sm mx-3"
                  [matMenuTriggerFor]="menuReject"
                  (click)="RejectRecipient(recipient)"
                >
                  <span
                    [inlineSVG]="
                      './assets/media/svg/icons/Code/Error-circle.svg'
                    "
                    class="svg-icon svg-icon-md svg-icon-danger"
                  ></span>
                </a>
                <mat-menu
                  #menuReject="matMenu"
                  class="bg-light position-relative p-0"
                >
                  <ul>
                    <li
                      *ngFor="
                        let cat of recipient.categoryRequests ??
                          recipient.requests
                      "
                    >
                      <div
                        class="
                          d-flex
                          align-items-center
                          position-absolute
                          w-100
                          p-2
                          parent
                        "
                        (click)="$event.stopPropagation()"
                      >
                        <div>
                          <mat-checkbox
                            id="{{ cat?.category.id ?? cat?.id }}"
                            [checked]="checkedList.indexOf(check.id) >= 0"
                            #check
                            (change)="CategoryChecked(check.id, check.checked)"
                          ></mat-checkbox>
                        </div>
                        <div
                          class="w-50 style-text style-cell ml-2"
                          style="margin-top: -5px"
                        >
                          {{
                            cat?.category.name ?? cat?.category
                              | capitalizeFirstLetter
                          }}
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-end w-100 parent">
                        <app-button
                          [label]="'Accept'"
                          [cssClasses]="['mr-1']"
                          (buttonClick)="RejectRecipient(recipient)"
                        ></app-button>
                      </div>
                    </li>
                  </ul>
                </mat-menu>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="GetDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: GetDisplayedColumns()"></tr>
      </table>
    </div>
  </div>
  <ng-template #noData>
    <span class="text-muted">none</span>
  </ng-template>
</div>
