<!--begin::Navigation-->
<ul class="navi navi-hover">
  <li class="navi-header font-weight-bold py-4">
    <span class="font-size-lg">Filter by activity type:</span>
    <i
      class="flaticon2-information icon-md text-muted"
      data-toggle="tooltip"
      data-placement="right"
      title="Click to learn more..."
    ></i>
  </li>
  <li class="navi-separator mb-3 opacity-70"></li>
  <li class="navi-item">
    <a (click)="onFilterActivities(3)" class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-warning">
          ALL
        </span>
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a (click)="onFilterActivities(0)" class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-success">
          Upload Certificates</span
        >
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a (click)="onFilterActivities(1)" class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-primary">
          Account Activated
        </span>
      </span>
    </a>
  </li>
  <li class="navi-item">
    <a (click)="onFilterActivities(2)" class="navi-link cursor-pointer">
      <span class="navi-text">
        <span class="label label-xl label-inline label-light-danger">
          Certificate Validated</span
        >
      </span>
    </a>
  </li>
</ul>
<!--end::Navigation-->
